[%#
# The contents of this file are subject to the Mozilla Public
# License Version 1.1 (the "License"); you may not use this file
# except in compliance with the License. You may obtain a copy of
# the License at http://www.mozilla.org/MPL/
#
# Software distributed under the License is distributed on an "AS IS"
# basis, WITHOUT WARRANTY OF ANY KIND, either express or
# implied. See the License for the specific language governing
# rights and limitations under the License.
#
# The Original Code is the InlineImages Bugzilla Extension.
#
# The Initial Developer of the Original Code is Guy Pyrzak
# Portions created by the Initial Developer are Copyright (C) 2010 the
# Initial Developer. All Rights Reserved.
#
# Contributor(s):
#   Guy Pyrzak <guy.pyrzak@gmail.com> 
#%]
[% IF Param("allow_attachment_display") %]
<script>
  YAHOO.util.Event.onDOMReady(function(){ 
      var comments_expand_collapse = YAHOO.util.Dom.getElementsByClassName('bz_collapse_expand_comments', 'ul', 'comments');
      // check that what we're looking for is here
      if( comments_expand_collapse.length > 0 ){
        // check to make sure we should bother adding the li
        if( YAHOO.util.Dom.getElementsByClassName("is_image", "a", "comments").length == 0 ) return;
        // insert the li into the dom
        var li = document.createElement("li");
        var link = document.createElement("a");
        link.id = "toggle_images";
        link.href = "#";
        link.innerHTML = "Show Inline Images";
        // we're doing this as an anonymous function to make sure we don't mess up the name space
        link.onclick = function(){
          var link = document.getElementById("toggle_images");
          var p = YAHOO.util.Dom.getElementsByClassName("inline_image", "img", "comments");
          var toggle_link_text = "Show Inline Images";
          for( var i = 0; i < p.length; i++){
            p[i].parentNode.removeChild(p[i]);
          }
          if( p.length == 0 ){
            toggle_link_text = "Hide Inline Images";
            p = YAHOO.util.Dom.getElementsByClassName("is_image", "a", "comments");
            for( var i = 0; i < p.length; i++){
              var img = document.createElement("img");
              img.src = p[i].href;
              // might want to add some support to hide obsolete images
              img.className = "inline_image";
              img.style.display = "block";
              YAHOO.util.Dom.insertAfter(img, p[i].parentNode);
            }
          }          
          link.innerHTML = toggle_link_text;
          return false;
        }
        li.appendChild(link);        
        comments_expand_collapse[0].appendChild( li );
      }
  });
</script>
[% END %]